* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug */
/* header {
    background-color:
}

.row-up {
    background-color: crimson;

}

.logo {
    background-color: black;

} */



/* .title {
    background-color: darkgreen;
  
} */


.img {
    background-color: blue;
 
}

.center {
    background-color: aqua;
  

}

footer {
    background-color: slategrey;
    min-height: 400px;
}

.foot {
    background-color: chartreuse;
    min-height: 200px;
    width: 20%;
}
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* regole nav  */
header{
    min-height: 590px;
    background-image:url("../img/jumbo.png") ;
    background-size:cover;
   
}

.navigator {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   

}

.row-up {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 40%;
    height: 40px;
    margin-top: 40px;
    padding-right: 60px;
    color: white;

}
.accedi {
    height: 40px;
    width: 80px;
    border-radius: 30px;
    margin-top: 40px;
    border: none;
}

.head-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
   
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-size: 25px;
    color:white ;

}
.text-title{
    text-align: center;
    margin-top: 40px;
}
.logo {
    width: 10%;
    height: 40px;
    margin-top: 40px;
}
.center {
    background-color: aqua;
    width: 47%;

}


.input {
    text-align: center;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 25px;
    border:none;
    margin-right: 20px;
    
}
.second-input{
    background-color:#23272a ;
    height: 50px;
    width: 300px;
    font-size:20px ;
    border-radius: 25px;
    border:none;
    color: white;
    
}

.foot{
    background-color: darkslategrey;
    height: 40px;
}
.end{
    background-color: brown;
  
}
a{
    text-decoration: none;
    color: white;
}

/* regole corpo centrale */
.img{
    width: 42%;
    min-height: 400px;
}

.section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
    
}
/* regole footer  */
.hfoot{
    display: flex;
    justify-content: space-around;

}

.foot {
    display: flex;
    flex-direction:column;
    width: 10%;
    margin-top: 40px;
   
    

}

.interact { 
    display: flex;
    width: 15%;
      
}
.last{
    width: 80%;
    height: 40px;
}

.end{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 200px;
    margin-top: 150px;
    
}
